<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>BulkSMS</title>

  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAizmhlbS1Fp66hSiglceJ5_D6PB1-14Ys",
      authDomain: "bulksms-50d95.firebaseapp.com",
      databaseURL: "https://bulksms-50d95.firebaseio.com",
      projectId: "bulksms-50d95",
      storageBucket: "bulksms-50d95.appspot.com",
      messagingSenderId: "868844612270"
    };
    firebase.initializeApp(config);

  </script>
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
  <!--crossorigin="anonymous">-->

  <nav class=" navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Bulk SMS</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/contacts">My Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recharge</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <button type="submit" class="btn btn-default" id="btnLogOut">Log out</button>
        </form>
      </div>
    </div>
  </nav>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-reboot.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
  <link rel="stylesheet" href="/css/style.css">

  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
    <% } %>

</head>
