<% include header %>

	<div class="container">
		<div class="row">
			<form class="col align-self-center">
				<div class="form-group ">
					<label for="inputSenderName">SenderName</label>
					<!--class="col-sm-2 col-form-label"-->
					<div>
						<!--class="col-sm-10"-->
						<input type="text" class="form-control" id="senderName">
					</div>
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Message</label>
					<textarea title="nothing" class="form-control" id="messageToSend" rows="3"></textarea>
				</div>
				<div class="form-group">
					<label for="recipients">Recipients (please separate by pressing the enter key)</label>
					<textarea title="nothing" class="form-control" id="recipients" rows="3"></textarea>
				</div>

				<button id="sendMsg" type="submit" class="btn btn-primary">Submit</button>
				<input type="file" id="csvFileInput" onchange="handleFiles(this.files)" accept=".csv">
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/js/home.js"></script>
	<script src="/js/logout.js"></script>

	<% include footer %>